/* Center everything on the page */
body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Use div to position map on page */
#visitmap {
    position: relative;
}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
    position: absolute;
    right: 10px;
    top: 330px;
}  